PORT = 5000
NODE_ENV = 'development'

ALLOW_ORIGINS = 'http://localhost:3000',

# Database
DB_URI = 'mongodb://localhost:27017/teams_530'
# DB_URI = 'mongodb+srv://dhunganasalina43_db_user:aOCXvYwZI3gCcAmf@cluster0.uvxhett.mongodb.net/ecommerce?appName=Cluster0'
# DB_URI ='mongodb://dhunganasalina43_db_user:aOCXvYwZI3gCcAmf@ac-obveoy1-shard-00-00.uvxhett.mongodb.net:27017,ac-obveoy1-shard-00-01.uvxhett.mongodb.net:27017,ac-obveoy1-shard-00-02.uvxhett.mongodb.net:27017/?ssl=true&replicaSet=atlas-12q1x3-shard-0&authSource=admin&appName=Cluster0'


# aOCXvYwZI3gCcAmf

# email
SMTP_HOST = 'smtp'
SMTP_SERVICE ='gmail'
SMTP_PORT=465
SMTP_USER="dhunganasalina43@gmail.com"
SMTP_PASS="qjhe zxqd mhix bnjf"


# cloudinary
CLOUDINARY_CLOUD_NAME='dqllzzfro'
CLOUDINARY_API_KEY='264477691445619'
CLOUDINARY_API_SECRET='rvmpwk2E87c8X3PKybeDd7Q4dNY'

# jwt
JWT_SECRET = 'jdksbf438y89p34y#^r64737SDF#DVFSH'
JWT_EXPIRY = '7d'

# cookie expiry
COOKIE_EXPIRY = 7